@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  color: white;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(66, 37, 37);
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
}

nav ul li,
nav div img {
  display: inline-block;
  margin: auto 5px;
}

nav div img {
  height: 2.2em;
}

.contact {
  font-weight: 700;
  background-color: orangered;
  padding: 10px 20px;
  border-radius: 3em;
}

.main-section {
  text-align: center;
}

.small {
  font-size: 1.2em;
  font-weight: 300;
  margin-bottom: 1em;
}

.normal {
  font-size: 3em;
  font-weight: 600;
}

#latin {
  font-family: "Cardo", serif;
  font-style: italic;
  color: orangered;
}

.video-background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
}

video {
  min-width: 100%;
  min-height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.541);
}
